<section>
    <h2>You are viewing {{product.name}} restaurants</h2>
        <article>
            <div>
                <img src="{{product.image}}"/>
                <p>Name: {{product.name}}</p>
                <p>Price: {{product.price}}</p>
                <button id='deletebtn'>Delete</button>
            </div>
            <div>
                <p>Description: {{product.description}}</p>
            </div>
        </article>
        <a href="/products">Back to products List</a>
</section>